.icons {
    padding-left:40%;

}
.header{
    height:100px;
    background-color:white;
}
.navsection{
    padding-top:25px;
}
.second{
    height:550px;
    background-color:whitesmoke;
}
.smain{
    padding-top: 8%;
    padding-left:6%;

}
.ssub{
    padding-top:5%;
}